body {
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}
#marketCapitalizations {
    width: 100%
}
.makeItRed {
    color: #d14836;
}
.makeItGreen {
    color: #093;
}
#secondPage {
    display: none;
}