body {
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}
#marketCapitalizations {
    width: 100%
}
.makeItRed {
    color: #d14836;
}
.makeItGreen {
    color: #093;
}
#secondPage {
    display: none;
}
.exchange_pair {
    background-color: black;
    color: red;
}
.crypto {
    background-color: black;
    color: green;
}
.fiat {
    background-color: black;
    color: yellow;
}
.topPopular {
    font-weight:600;
    background-color: #fecb17;
}
#listSearch {
    display: none;
}
.lessPopular  {
    font-weight: bold;
}
#listSearch {
    position: absolute;
    z-index: 100;
    background-color: red;
}